@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply flex min-h-screen flex-col items-center justify-center bg-pale-blue;
  --font-family-sans: "Hanken Grotesk", sans-serif;
}

body {
  font-family: var(--font-family-sans);
}

p {
  font-size: 18px;
}
